{
  "singleQuote": true,
  "trailingComma": "none",
  "bracketSpacing": true,
  "proseWrap": "preserve",
  "semi": false,
  "printWidth": 80,
  "plugins": ["prettier-plugin-organize-imports", "prettier-plugin-tailwindcss"]
}
