@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .brand {
    background: radial-gradient(
      circle,
      rgba(42, 148, 244, 1) 0%,
      rgba(204, 233, 255, 1) 100%
    );
    -webkit-text-fill-color: transparent;
    background-clip: text;
    background-size: 400%;
  }
}
