@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .brand {
    background: radial-gradient(
      circle,
      rgba(42, 148, 244, 1) 0%,
      rgba(204, 233, 255, 1) 100%
    );
    -webkit-text-fill-color: transparent;
    background-clip: text;
    background-size: 400%;
  }

  .markdown {
    p {
      @apply mb-3 whitespace-pre-wrap break-words last:mb-0;
    }

    ol,
    ul {
      @apply mb-3 pl-3 last:mb-0;
    }

    ol {
      @apply list-disc;
    }

    ul {
      @apply list-decimal;
    }

    li {
      @apply mb-3 last:mb-0;
    }

    table {
      @apply mb-3 table-fixed border border-gray-500;
    }

    th {
      @apply whitespace-nowrap border border-gray-500 p-2 dark:border-gray-200;
    }

    td {
      @apply whitespace-nowrap border border-gray-500 p-2 dark:border-gray-200;
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
}

/* mjx-container[jax='SVG'] > svg {
  display: inline-block;
} */
